<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
  <meta property="og:title" content="Kevin Oh | FE Engineer" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://kevinoh.me" />
  <meta property="og:image" content="http://kevinoh.me/img/og.png" />
  <meta property="fb:app_id" content="126086191274356" />
  <title>{{ .Title }}</title>
</head>
<body>

  <main class="main">
    {{ partial "pages/home" . }}
  </main>

  {{ partial "modules/footer-dev" }}

