<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      ;(function(w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-N59SM3K')
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
    <meta property="og:title" content="Kevin Oh | FE Engineer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kevinoh.me" />
    <meta property="og:image" content="https://kevinoh.me/img/og.png" />
    <meta property="fb:app_id" content="126086191274356" />

    <title>{{ .Title }}</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-N59SM3K"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a class="js_color-button">👁👅👁</a>

    <main class="main">
      {{ partial "pages/home" . }}
    </main>

    {{ partial "modules/footer-dev" }}
  </body>
</html>
