<!-- Page for a single web post in the posts/ dir -->

<!-- Include head tag manually -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Kevin Oh | FE Engineer" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://kevinoh.me/posts/{{ .Params.slug }}" />
  <meta property="og:image" content="http://kevinoh.me/img/{{ .Params.slug }}.png" />
  <meta property="fb:app_id" content="126086191274356" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>{{ .Title }}</title>
</head>

{{ partial "modules/header-dev" . }}

<div class="section__container">
  <div class="section__inner -wide">
    <div class="section__label -post">
      <h2 class="section__label-text">{{ .Title }}</h2>
    </div>

    <div class="section__content">
      {{ .Content }}
      <hr>
      <a class="btn btn--accent" href="/posts">View All Posts</a>
    </div>

  </div>
</div>

{{ partial "modules/footer-dev" }}