// footer.scss
// =============================================================

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $black;
  width: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  min-height: 130px;
  @include v-p(10);

  a {
    color: $white;
    font-size: 22px;
    @include h-m(10);
  }
}

$_highlight-bar-height: 25px;
.highlight-bar {
  opacity: 0;
  align-items: center;
  color: white;
  font-weight: bold;

  background: linear-gradient(to bottom right, #d63bff, #6b0cd8, #6687ff);
  background-size: 300% 300%;
  animation: gradient 0.5s alternate infinite;
  position: absolute;
  top: 0;
  height: $_highlight-bar-height;
  width: 100%;
}
