// Header
// Contains SCSS for navbar

.header {
  width: 100%;
}

.navbar {
  background-color: $black;
  width: 50%;
  margin: auto;
  height: 55px;
  display: flex;
  justify-content: center;
  &__list {
    margin: auto;
    text-align: center;
  }
  &__list-item {
    display: inline;
    margin: {
      left: 8px;
      right: 8px;
    }
  }
  &__list-link {
    font-size: 23px;
  }
}