// Header
// Contains SCSS for navbar

.header {
  margin-bottom: 5rem;
  a,
  p,
  ul li {
    // font-family: 'Iosevka-light', sans-serif !important;
    text-transform: uppercase;
    @include setFontBody;
  }


  &.-no-margin-bottom {
    margin-bottom: 0;
  }
}
