.hero {
  &__container {
    width: 100%;
    padding: 2rem;
    background-color: $black;
  }
  &__inner {
    @include flex-grid-row($size: 40%);
  }
  &__left {
    @include flex-grid-column($columns: 4);
  }
  &__right {
    text-align: right;
    @include flex-grid-column($columns: 8);
  }
  &__img {
    max-width: 200px;
    border-radius: 100%;
  }

  &__container {

    .upper-text {
      &__wrapper {
        margin-bottom: 4rem;
      }
      &__header {
        font-size: 2rem;
      }
      &__subheader {
        font-size: 1.5rem;
      }
    }

    .lower-text {
      &__wrapper {

      }

      &__text {
        font-size: 1rem;
        line-height: .5rem;
      }
    }
  }
}
