.hero {
  &__container {
    width: 100%;
    padding-top: 2rem;
  }
  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // padding: 1rem;
    margin-bottom: 1rem;
    // @include light-gradient;
    @include hma;
    @include bp(medium) {
      width: 90%;
      width: 50%;
    }
  }
  &__left,
  &__right {
    width: 50%;
  }

  &__left {
    opacity: 0;
    text-align: center;
    margin-bottom: 1.5rem;
    width: 100%;
    @include breakpoint(medium) {
      margin-bottom: 0;
      text-align: left;
      width: 33%;
    }
  }
  &__right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    @include breakpoint(medium) {
      // text-align: right;
      // width: 66%;
    }
  }
  &__img {
    width: 200px;
    border-radius: 100%;
  }
}

$_hero-box-color: $black;

.upper-text {
  &__wrapper {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 250px;
    max-width: 80vw;
    height: 120px;

    margin: auto;
    margin-bottom: 1.5rem;
    color: $_hero-box-color;

    transition: transform 300ms, background-color 200ms;

    &:hover {
      transform: skew(10deg, 0deg);
    }

    @include breakpoint(sm) {
      width: 300px;
      height: 144px;
      margin-bottom: 2.5rem;
    }

    svg {
      position: absolute;
      z-index: -1;
      &,
      svg rect {
        width: 250px;
        @include breakpoint(sm) {
          width: 300px;
        }
      }
    }
  }
  &__header,
  &__subheader {
    opacity: 0;
  }
  &__header {
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    @include setFontBody;
  }
  &__subheader {
    font-size: 1rem;
    a {
      color: $_hero-box-color;
      @include setFontLight;
      &:hover {
        font-style: italic;
      }
    }
  }
}
.lower-text {
  &__wrapper {
    opacity: 0;
  }
  &__text {
    line-height: 0.5rem;
    color: $black;
    text-transform: uppercase;
    font-size: 15px;
    @include setFontBody;
    @include breakpoint(xs) {
      font-size: 18px;
    }
    a {
      font-weight: bold;
      @include setFontBody;
    }
  }
}
