// Navbar.scss
//===========

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 55px;
  @include h-p(5);

  @include flex-grid-column($columns: 12);
  &.-full-width {
    background: $black;
    a {
      color: $white;
    }
    @include flex-grid-column($columns: 12);
  }
  @include breakpoint(medium) {
    @include h-p(20);
    @include flex-grid-column($columns: 9);
  }
  @include breakpoint(large) {
    @include flex-grid-column($columns: 8);
  }

  &__name {
    margin-bottom: 0;
    display: none;
    font-size: 30px;
    @include breakpoint(medium) {
      display: inline;
    }
  }

  &__list {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    @include breakpoint(medium) {
      justify-content: flex-end;
      &.-is-home {
        justify-content: space-around;
        // For list-links on the home-page.
        .navbar__list-link {
          opacity: 0;
        }
      }
    }
  }

  &__list-item {
    display: inline-flex;
    align-items: center;
    // font-weight: bold;
    padding: 5px;
    font-size: 16px;
    min-width: 90px;

    @include breakpoint(medium) {
      font-size: 22px;
      padding: 0.5rem;
    }
    @include breakpoint(large) {
      padding: 1rem;
    }
    cursor: pointer;
  }

  &__list-link {
    text-decoration: none;
    color: $link-color;
    letter-spacing: 1px;
    transition: letter-spacing 300ms;
    cursor: pointer;
    &:hover {
      font-weight: bold;
      letter-spacing: 1.9px;
    }
  }
}
