// Navbar.scss
//===========

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 55px;
  @include h-p(5);

  @include flex-grid-column($columns: 12);
  &.-full-width {
    background: $black;
    a {
      color: $white;
    }
    @include flex-grid-column($columns: 12);
  }
  @include breakpoint(medium) {
    @include h-p(20);
    @include flex-grid-column($columns: 9);
  }
  @include breakpoint(large) {
    @include flex-grid-column($columns: 8);
  }

  &__name {
    margin-bottom: 0;
    display: none;
    @include breakpoint(medium) {
      display: inline;
    }
  }

  &__list {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    @include breakpoint(medium) {
      justify-content: flex-end;
      &.-is-home {
        justify-content: space-around;
        // For list-links on the home-page.
        .navbar__list-link {
          opacity: 0;
        }
      }
    }
  }

  &__list-item {
    display: inline;
    // font-weight: bold;
    padding: 5px;
    font-size: 16px;
    @include breakpoint(medium) {
      font-size: 22px;
      padding: 0.5rem;
    }
    @include breakpoint(large) {
      padding: 1rem;
    }
  }

  &__list-link {
    text-decoration: none;
    color: $link-color;
  }
}
