// _project-box.scss

.project-box {
  &__list {
    // background: linear-gradient(to bottom, #deffd3, #ffcece);
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
  }

  &__list.-projects {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
  }

  &__list-item {
    display: inline-block;
    text-align: center;
    a {
      display: inline-block;
      min-width: 107px;
      height: 100%;
      transition: background-color 100ms ease;
      border-radius: 3px;
      &:hover {
        background-color: $purple;
      }
    }
  }

  &__list-post {
    list-style-type: none;
    text-transform: lowercase;
    @include setFontBody;

    a {
      display: block;
      width: 100%;
      color: $black;
      text-decoration: none;
      padding: 1rem;
      transition: padding 0.2s ease;
      &:hover {
        color: $purple;
        padding-left: 1.5rem;
      }
    }
    &:first-child {
      &:after {
        content: 'latest';
        font-style: italic;
        position: absolute;
        font-size: 14px;
        top: 14px;
        right: 20px;
        color: darken($gray, 15);
        pointer-events: none;
      }
    }

    &:hover {
      background-color: $purple;
      a {
        color: $white;
      }
    }
  }

  &__list-image {
    height: 75px;
    margin: 1rem;
    .page-project-single & {
      margin: auto;
      margin-bottom: 1rem;
    }
  }
}
