// _project-box.scss

.project-box {
  &__list {
    // background: linear-gradient(to bottom, #deffd3, #ffcece);
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
  }

  &__list.-projects {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
  }

  &__list-item {
    display: inline-block;
    text-align: center;
    a {
      display: inline-block;
      min-width: 107px;
      height: 100%;
      transition: background-color 100ms ease;
      border-radius: 3px;
      &:hover {
        background-color: $purple;
      }
    }
  }

  &__list-post {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    list-style-type: none;
    // text-transform: lowercase;
    margin-left: 0;
    margin-bottom: 10px;
    padding: 1rem;
    @include setFontBody;

    a {
      display: block;
      width: 100%;
      color: #2b2b2b;
      text-decoration: none;
      transition: padding 0.2s ease;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover {
        padding-left: 10px;
        cursor: pointer;
        font-style: italic;
      }
    }
    &:first-child {
      &:after {
        display: none;
        @include bp(md) {
          display: block;
          content: 'LATEST';
          font-style: italic;
          position: absolute;
          font-size: 14px;
          top: 20px;
          right: -60px;
          color: darken($gray, 45);
          pointer-events: none;
        }
      }
    }

    &:hover {
      box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.05);
      // background-color: $purple;
      // a {
      //   color: $white;
      // }
    }
  }

  &__list-image {
    height: 75px;
    margin: 1rem;
    .page-project-single & {
      margin: auto;
      margin-bottom: 1rem;
    }
  }
}
