// section.scss

$_label-height: 40px;
.section {

  &__container {
    @include flex-grid-row($size: 100%);
  }

  &__inner {
    background-color: $purple;
    margin: auto;
    position: relative;
    min-height: 400px;
    @include flex-grid-column($columns: 10);
    @include breakpoint(medium up) {
      @include flex-grid-column($columns: 5);
    }
  }

  &__label {
    background-color: $purple;
    min-height: 40px;
    padding: 1rem;
    width: 300px;
    text-align: right;
    position: relative;
    right: 0;
    bottom: 30px;
  }
}
