// section.scss

$__label-border-width: 7px;
$_label-height: 60px;
.section {

  &__container {
    @include flex-grid-row($size: 100%);
  }

  &__inner {
    background-color: $gray;
    border: $__label-border-width solid $purple;
    margin: auto;
    position: relative;
    min-height: 150px;
    @include flex-grid-column($columns: 10);
    @include breakpoint(medium up) {
      @include flex-grid-column($columns: 6);
    }
  }

  &__label {
    background-color: $gray;
    border: {
      top: $__label-border-width solid $purple;
      right: $__label-border-width solid $purple;
      left: $__label-border-width solid $purple;
    }
    height: $_label-height;
    padding: 1rem;
    width: 200px;
    text-align: center;
    position: absolute;
    right: 30px;
    top: -$_label-height;
    &-text {
      line-height: 24px;
      font-family: "Iosevka";
      font-style: italic;
      font-size: 24px;
      color: $purple;
    }
  }
}
