// section.scss

$__label-border-width: 7px;
$_label-height: 35px;
.section {
  &__container {
    &:not(:first-child) {
      margin: auto;
      width: 95%;
      margin-bottom: 6rem;
    }
    &--blog {
      min-height: 440px;
    }
  }

  &__inner {
    background-color: $gray;
    color: $black;
    position: relative;
    border-top: $__label-border-width solid $purple;
    border: {
      left: $__label-border-width solid $purple;
      right: $__label-border-width solid $purple;
      bottom: $__label-border-width solid $purple;
    }

    &.-regular {
      @include breakpoint(medium) {
        @include flex-grid-column($columns: 6, $gutters: 0);
      }
    }
    &.-thin {
      @include breakpoint(medium) {
        @include flex-grid-column($columns: 6, $gutters: 0);
      }
      @include breakpoint(large) {
        @include flex-grid-column($columns: 4, $gutters: 0);
      }
    }
    &.-wide {
      @include breakpoint(medium) {
        @include flex-grid-column($columns: 11, $gutters: 0);
      }
      @include breakpoint(large) {
        @include flex-grid-column($columns: 8, $gutters: 0);
      }
    }

    @include breakpoint(medium) {
      margin: auto;
      @include flex-grid-column($columns: 11, $gutters: 0);
    }

    @include breakpoint(large) {
      margin: auto;
      @include flex-grid-column($columns: 10, $gutters: 0);
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray;
    border: {
      top: $__label-border-width solid $purple;
      right: $__label-border-width solid $purple;
      left: $__label-border-width solid $purple;
    }
    height: $_label-height + 1px;
    padding: {
      top: 0.5rem;
      left: 1rem;
      right: 1.2rem;
    }
    // width: 200px;
    text-align: center;
    position: absolute;
    top: -$_label-height - 15px -1px;

    &-text {
      line-height: 24px;
      font-size: 24px;
      color: $purple;
      font-weight: 900;
      @include setFontBody;
    }
    &.-project-box {
      width: 200px;
      right: 30px;
    }
    &.-blog {
      width: 100px;
      right: 30px;
    }
    &.-post {
      @include breakpoint(medium) {
        right: 30px;
      }
    }
  }

  &__projects,
  &__blog,
  &__about {
    width: 100%;
  }

  &__content {
    padding: 1rem;
    @include setFontBody;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
    }

    // h4's are used as section headings sometimes so i'll just tag that directly here
    h4 {
      font-size: 22px;
    }

    hr {
      margin-bottom: 2rem;
    }

    p,
    li {
      font-size: 20px;
      line-height: 30px;
    }
    ul,
    ol {
      padding-left: 1rem;
    }
    a {
      color: $purple;
      font-weight: bold;
    }

    // Modifiers for any content areas
    .about-intro {
      // color: $purple;
      font-weight: bold;
    }
  }
}
