<footer class="footer">
  <ul class="footer__list">
    <li class="footer__list-item">
      <a href="https://cacoo.com" class="footer__list-link">
        {{ i18n "cacoo" }}
      </a>
    </li>
    <li class="footer__list-item">
      <a href="{{ i18n "backlog_link" }}" class="footer__list-link">
        {{ i18n "backlog" }}
      </a>
    </li>
    <li class="footer__list-item">
      <a href="https://typetalk.in" class="footer__list-link">
        {{ i18n "typetalk" }}
      </a>
    </li>
    <li class="footer__list-item">
      <a href="http://status.nulab-inc.com" class="footer__list-link">
        {{ i18n "system_status" }}
      </a>
    </li>
  </ul>

  <ul class="footer__list">
    <li class="footer__list-item -image">
      <a href="{{ i18n "facebook_link" }}" target="_blank">
        <img
        src="img/common/Facebook_icon.png"
        class="nu-footer__social-icons-image"
        alt="Facebook"/>
      </a>
    </li>
    <li class="footer__list-item -image">
      <a href="{{ i18n "twitter_link" }}" target="_blank">
        <img
        src="img/common/Twitter_icon.png"
        class="nu-footer__social-icons-image"
        alt="Twitter"/>
      </a>
    </li>
    <li class="footer__list-item -image">
      <a href="https://www.linkedin.com/company/nulab" target="_blank">
        <img
        src="img/common/Linkedin_icon.png"
        class="nu-footer__social-icons-image"
        alt="Linkedin"/>
      </a>
    </li>
    <li class="footer__list-item -image">
      <a href="https://github.com/nulab" target="_blank">
        <img
        src="img/common/Github_icon.png"
        class="nu-footer__social-icons-image"
        alt="Github"/>
      </a>
    </li>
    <li class="footer__list-item -image">
      <a href="https://www.instagram.com/nulabinc/" target="_blank">
        <img
        src="img/common/Instagram_icon.png"
        class="nu-footer__social-icons-image"
        alt="Instagram"/>
      </a>
    </li>
    <li class="footer__list-item -image">
      <a href="https://plus.google.com/+Nulab-Inc" target="_blank">
        <img
        src="img/common/Google+_icon.png"
        class="nu-footer__social-icons-image"
        alt="Google Plus"/>
      </a>
    </li>
  </ul>

  <ul class="footer__list">
    <li class="footer__list-item">
      <a href="https://nulab-inc.com/privacy" class="footer__list-link">
        {{ i18n "privacy_policy" }}
      </a>
    </li>
    <li class="footer__list-item">
      <a href="https://nulab-inc.com/terms" class="footer__list-link">
        {{ i18n "terms" }}
      </a>
    </li>
    <li class="footer__list-item">
      {{ i18n "rights_reserved" }}
    </li>
    <li class="footer__list-item">
      {{ i18n "registered_in_japan" }}
    </li>
  </ul>

</footer>
<!-- TypeKit -->
<script src="https://use.typekit.net/spk3aji.js"></script>
<script>try {
  Typekit.load({async: true});
} catch (e) {
}</script>
