<header class="header">
  <nav class="navbar 
    {{ if eq .Section "posts" }}
      -full-width
    {{ end }}
    ">
    <ul class="navbar__list">
      <li class="navbar__list-item"><a href="/" class="navbar__list-link">home</a></li>
      <li class="navbar__list-item"><a href="/about" class="navbar__list-link">about</a></li>
      <li class="navbar__list-item"><a href="/projects" class="navbar__list-link">projects</a></li>
      <li class="navbar__list-item"><a href="/posts" class="navbar__list-link">blog</a></li>
      <li class="navbar__list-item"><a href="https://github.com/aflashyrhetoric" class="navbar__list-link">github</a></li>
    </ul>
  </nav>
</header>
