// buttons.scss
// ========================================

// Btn

blockquote p {
  display: inline-block;
  border-left: 5px solid $purple;
  font-style: italic;
  padding: 0.5rem;
  padding-left: 1rem;
  background: #f5f5f5;
}
