// buttons.scss
// ========================================

// Btn
.btn {
  @include setFontBody;
  display: inline-block;
  padding: 6px 18px;
  border-radius: 4px;
  cursor: pointer;

  color: white;
  text-decoration: none;
  text-align: center;
  border: 3px solid transparent;

  transition: background-color 0.2s ease 0s;
  @include fz(16);

  // Variants

  &--primary {
    background-color: white;
    color: $purple;
    &:visited {
      background-color: white;
      color: $purple;
    }
    &:hover {
      // background-color: linear-gradient(to bottom, $purple, lighten($purple, 10));
      background-color: transparent;
      border: 3px solid $white;
      color: $white;
    }
  }

  &--accent {
    border: 1px solid transparent;
    background-color: $black;
    color: white !important;
    &:hover {
      border: 1px solid $black;
      background-color: transparent;
      color: $black !important;
    }
  }
}
