// buttons.scss
// ========================================

// Btn
.btn {
  @include setFontBody;
  display: inline-block;
  padding: 14px 18px;
  border-radius: 8px;
  cursor: pointer;

  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  transition: background-color .2s ease 0s;
  @include fz(20);

  // Variants

  &--primary {
    background-color: white;
    color: $purple;
    &:visited {
      background-color: white;
      color: $purple;
    }
    &:hover {
      background-color: lighten($purple, 10);
      color: $white;
    }
  }

  &--accent {
    background-color: $lightpurple;
    &:hover {
      background-color: lighten($lightpurple, 10);
      color: white;
    }
  }
}