// table.scss
// =============================================================

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
}

th,
td {
  vertical-align: middle;
  word-wrap: break-word;
  padding: 8px;
}

td {
  border: 1px solid #ddd;
}

th {
  font-weight: normal;
  background: $purple;
  color: $white;
  // border: 1px solid lighten($purple, 8);
}
