// Page: Post (single)

$black: #222222;

.page-post-single {
  background-color: $white;

  .header {
    margin-bottom: 0;
  }
  .post-single {
    &__heading-wrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      height: 300px;

      background-color: $black;
    }
    &__heading {
      // text-transform: uppercase;
      text-align: center;
      padding: {
        right: 5px;
        left: 5px;
      }
      @include setFontHeavy;
    }
    &__subheading {
      @include setFontBody;
      text-transform: lowercase;
      color: lighten($black, 10);
    }

    &__content-wrapper {
      max-width: 800px;
      padding: 2rem;
      margin: {
        left: auto;
        right: auto;
        top: 2rem;
        bottom: 4rem;
      }
      border-radius: 4px;

      background-color: $white;
      color: $black;
      @include setFontBody;
      a {
        color: $purple;
        font-weight: bold;
      }
    }
  }
}

