// page projects

.page-projects {
  @include flex-grid-row($size: 100%);

  &__heading-wrapper {
    @include flex-grid-column($columns: 12);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    @include setFontBody;
    text-transform: uppercase;
    font-weight: bold;
  }

  .project {
    &__container {
      margin: 2rem;
      margin-top: 1rem;
      width: 95%;
      display: flex;
      flex-flow: row wrap;

      @include breakpoint(medium) {
        width: unset;
      }
    }
    &__card {
      margin-bottom: 2rem;
      width: 30%;
      @include h-m(15);
      img {
        transform: none;
        transition: transform 0.4s;
      }
      &:hover {
        img {
          transform: translateY(-4px);
        }
      }
    }
    &__card-inner {
      text-align: center;
      position: relative;
      padding: 2rem;
      padding-top: 4rem;
      min-width: 220px;
      min-height: 500px;
      background-color: $purple;
      color: $white;
      border-radius: 4px;
      display: flex;
      flex-flow: column nowrap;
    }
    &__title {
      margin-bottom: 0.8rem;
      font-weight: bold;
      line-height: 1;
      text-transform: lowercase;
      text-align: center;
      @include setFontStandard;
    }
    &__description {
      text-align: center;
      display: inline-block;
      margin: auto;
      max-width: 420px;
      @include fz(16);
    }
    &__learn-more {
      text-align: center;
      display: inline-block;
      margin: auto;
      @include breakpoint(medium) {
        max-width: 200px;
      }
    }
    &__image {
      margin: {
        left: auto;
        right: auto;
        bottom: 4rem;
      }
      display: inline-block;
      text-align: center;
      img {
        width: 125px;
        max-height: 140px;
      }
    }
  }
}
