// page project single
.page-project-single {
  // Collapse border
  margin-top: -80px;
  .project-single {
    &__hero {
      background-color: $black;
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
      padding: 2rem;
      border-bottom: 1px solid $white;
      align-items: flex-start;
      @include breakpoint(medium up) {
        align-items: center;
      }
    }
    &__heading {
      font-size: 30px;
    }
    &__subheading {
      font-style: italic;
      @include fz(24);
      @include setFontLight;
    }
    &__about-text {
      width: 95%;
      margin: auto;
      margin: {
        top: 1rem;
        bottom: 2rem;
      }
      @include breakpoint(medium up) {
        width: 90%;
      }
      @include breakpoint(large up) {
        margin: {
          top: 2rem;
          bottom: 3rem;
        }
        width: 60%;
      }
      padding: 2rem;

      color: $black;
      background-color: darken($white, 2);
      border-radius: 4px;
      box-shadow: 0 2px 2px 2px darken(rgba(0, 0, 0, 0.2), 20);

      p,
      ul li,
      a {
        font-size: 18px;
      }
      a:not(.btn) {
        color: $purple;
        font-weight: bold;
      }
    }
  }
}
