// page scrawls

$_layout-bp: small;

.page-projects {
  padding-top: 60px;
  @include flex-grid-row($size: 85%);
  @include hma;

  &__heading-wrapper {
    @include flex-grid-column($columns: 12);
    height: 70px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    p {
      font-style: italic;
    }
  }

  &__heading {
    @include setFontBody;
    text-transform: uppercase;
    font-weight: bold;
  }

  .project {
    &__container {
      margin: auto;
      margin-top: 1rem;
      width: 95%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      @include breakpoint(medium) {
        width: unset;
      }
    }
    &__left,
    &__right {
      display: flex;
      flex-flow: column nowrap;

      @include bp($_layout-bp) {
        width: 50%;
      }
    }
    &__left {
      justify-content: center;
    }
    &__right {
      justify-content: space-between;
      margin-left: 1rem;
    }
    &__card {
      box-sizing: border-box;
      position: relative;
      margin-bottom: 2rem;
      width: 80%;
      border-radius: 10px;
      // min-height: 505px;
      filter: saturate(0.7);
      transition: filter 180ms;
      background-color: rgb(49, 49, 49);
      color: $white;

      @include bp($_layout-bp) {
        min-height: 325px;
      }

      @include breakpoint(large) {
        width: 48%;
      }

      @include breakpoint(xxlarge) {
        width: 31%;
      }
      img {
        transform: none;
        transition: transform 0.4s;
        &.-circle-logo {
          border-radius: 100%;
        }
      }
      &:hover {
        img {
          transform: translateY(-4px) scale(1.1);
        }
        filter: saturate(1);
      }
    }
    &__card-inner {
      box-sizing: border-box;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      height: 100%;
      min-width: 220px;

      padding: 2rem;
      border-radius: 4px;

      @include bp($_layout-bp) {
        flex-flow: row nowrap;
      }
    }
    &__title {
      margin-bottom: 0.8rem;
      font-weight: bold;
      line-height: 1;
      text-transform: lowercase;
      text-align: center;
      @include setFontStandard;
    }
    &__description {
      max-width: 420px;
      @include fz(20);
    }
    &__learn-more {
      text-align: center;
      display: inline-block;
      @include breakpoint(medium) {
        max-width: 200px;
      }
    }
    &__image {
      margin: {
        left: auto;
        right: auto;
        bottom: 2rem;
      }
      display: inline-block;
      text-align: center;
      img {
        width: 125px;
        max-height: 140px;
      }
    }
  }
}
