<!-- Page for a single web post in the posts/ dir -->

<!-- Include head tag manually -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>{{ .Title }}</title>
</head>

{{ partial "modules/header-dev" . }}


<div class="section__container">
  <div class="section__inner -thin">
    <div class="section__label -post">
      <h2 class="section__label-text">about kevin oh</h2>
    </div>

    <div class="section__content">
      {{ .Content }}
    </div>
  </div>
</div>


