<!-- Page for a single web post in the posts/ dir -->

<!-- Include head tag manually -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>{{ .Title }}</title>
</head>

{{ partial "modules/header-dev" . }}


<div class="section__container">
  <div class="section__inner -thin">
    <div class="section__label -post">
      <h2 class="section__label-text">all blog posts</h2>
    </div>

    <div class="section__projects">
      <ul class="project-box__list">
        {{ range where .Data.Pages "Section" "posts" }}
          <li class="project-box__list-post">
            <a href="/{{ .Permalink }}">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

{{ partial "modules/footer-dev" }}
