<!-- Page for a single web post in the posts/ dir -->
<!-- Include head tag manually -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>{{ .Title }}</title>
  </head>

  {{ partial "modules/header-dev" . }}

  <div class="page-projects">
    <div class="page-projects__heading-wrapper">
      <h2 class="page-projects__heading">projects</h2>
    </div>
    <div class="project__container">

      {{ range sort .Site.Data.projects "ByWeight reverse" }}

      <div class="project__card">
        <a target="_blank" href="/projects/{{ .filename }}">
          <img class="" src="{{ .thumbnail }}" srcset="{{ .thumbnail2 }} 2x">
        </a>
        <p class="project__description">
          {{ .description }}
        </p>
      </div>
      
    {{ end }}
  </div>
</div>  
{{ partial "modules/footer-dev" . }}
