// base.scss
// =============================================================

@import 'colors';

// Base
html {
  // max-width: 1920px;
  // margin: auto;
  // Set root font size for REM.
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  padding-bottom: 2rem;
  text-size-adjust: 100%;
  color: $black;
  margin: 0;
  // background: #a1fdff;
  // @include gradient();
  @include setFontBody;
}
