// colors.scss
// =============================================================

$white: #fff;
$gray: darken($white, 1%);
$offwhite: $gray;
$medgray: #aaadad;
$black: #222222;
$darkgray: lighten($black, 5);

$teal: #befeff;
$purple: #54004f;
$darkteal: darken($purple, 2);
$lightteal: lighten($purple, 1);

$link-color: $purple;
$link-hover-color: darken($white, 15);
