// fonts.scss
// ===================================================

// Defining font family
// ==============================

$fontBody: 'Iosevka', 'Helvetica', 'Arial', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;
$fontLight: 'Iosevka-light', 'Helvetica', 'Arial', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;
$fontHeavy: 'Iosevka-heavy', 'Helvetica', 'Arial', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;
$fontHighlight: 'Iosevka', 'Gilroy', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;

// mixins for font-family
// ==============================

@mixin setFontBody {
  font-family: $fontBody;
}
@mixin setFontLight {
  font-family: $fontLight;
}
@mixin setFontHeavy {
  font-family: $fontHeavy;
}

@mixin setFontHighlight {
  font-family: $fontHighlight;
}

// @font-face Settings
// ==============================

@font-face {
  font-family: 'Iosevka';
  src: url('/static/fonts/iosevka-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka-light';
  src: url('/static/fonts/iosevka-extralight.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka-heavy';
  src: url('/static/fonts/iosevka-heavy.ttf') format('truetype');
}