// fonts.scss
// ===================================================

// Defining font family
// ==============================

$fontBody: 'Iosevka', 'Helvetica', 'Arial', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;
$fontHighlight: 'Iosevka', 'Gilroy', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;

// mixins for font-family
// ==============================

@mixin setFontBody {
  font-family: $fontBody;
}

@mixin setFontHighlight {
  font-family: $fontHighlight;
}

// @font-face Settings
// ==============================

@font-face {
  font-family: 'Iosevka';
  src: url('/static/fonts/iosevka-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  src: url('/static/fonts/iosevka-extralight.ttf') format('truetype');
}