/* General Typography
 * ----------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  @include setFontBody;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}

h1 {
  font-weight: bold;
  @include setFontBody;
  @include fz(35);
  @include bp(md) {
    @include fz(40);
  }
}

h2 {
  @include setFontBody;
  @include fz(28);
  @include bp(md) {
    @include fz(30);
  }
}

h3 {
  @include fz(25);
}

h4,
h5,
h6 {
  @include fz(22);
}

p {
  @include setFontBody;
  @include fz(20);
  line-height: 28px;
}

li {
  @include fz(20);
  line-height: 30px;
}

// Lists
ul,
ol,
dl {
  margin-top: 0;
  padding: 0;
}

// Links
a {
  color: $link-color;
  transition: color 0.2s ease 0s;
  @include setFontBody;

  &:hover {
    cursor: pointer;
    color: $link-hover-color;
  }
  &:focus {
    color: $link-hover-color;
    outline: none;
  }

  &.link-accent {
    color: $purple;
    &:hover {
      color: $link-hover-color;
    }
  }
}
