<!-- Page for a single web post in the posts/ dir -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>{{ .Title }}</title>
  </head>

  {{ partial "modules/header-dev" . }}


  <div class="page-projects">
    <div class="page-projects__heading-wrapper">
      <h1 class="page-projects__heading">
        active projects
        {{ ":ramen:" | emojify }}
      </h1>
      {{/* <p>freshly baked goodies</p> */}}
    </div>

    <div class="project__container">
      {{ range .Site.Data.projects }}
        {{ if (and (not .archived) (not .hidden)) }}
          <div class="project__card">
            <div class="project__card-inner">
              <div class="project__left">
                <a class="project__image" href="/projects/{{ .filename }}">
                  <img src="{{ .thumbnail }}" srcset="{{ .thumbnail2 }} 2x"
                  {{ if .hasCircularLogo }}
                    class="-circle-logo" />
                  {{ else }}
                    class="" />
                  {{ end }}
                </a>
                <h3 class="project__title">{{ .name }}</h3>
              </div>
              <div class="project__right">
                <p class="project__description">
                  {{ .description }}
                </p>
                <a
                  href="/projects/{{ .filename }}"
                  class="project__learn-more btn btn--primary"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>

    <div style="margin-bottom: 80px"></div>
    <div class="page-projects__heading-wrapper">
      <h1 class="page-projects__heading">inactive projects</h1>
      <p>
        inactive projects that have since been sunset, paused, abandoned, or
        thrown into an incinerator because they displeased me
        {{ ":crown:" | emojify }}
      </p>
    </div>
    <div class="project__container">
      {{ range .Site.Data.projects }}
        {{ if (and (.archived) (not .hidden)) }}
          <div class="project__card">
            <div class="project__card-inner">
              <div class="project__left">
                <a class="project__image" href="/projects/{{ .filename }}">
                  <img src="{{ .thumbnail }}" srcset="{{ .thumbnail2 }} 2x"
                  {{ if .hasCircularLogo }}
                    class="-circle-logo" />
                  {{ else }}
                    class="" />
                  {{ end }}
                </a>
                <h3 class="project__title">{{ .name }}</h3>
              </div>
              <div class="project__right">
                <p class="project__description">
                  {{ .description }}
                </p>
                <a
                  href="/projects/{{ .filename }}"
                  class="project__learn-more btn btn--primary"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ partial "modules/footer-dev" . }}
</html>
