<!-- Page for a single web post in the posts/ dir -->

<!-- Include head tag manually -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>{{ .Title }}</title>
</head>

{{ partial "modules/header-dev" . }}

<div class="page-project-single">
  <div class="project-single__hero">
    {{ range $.Site.Data.projects }}
    {{ if eq (lower .name) (lower $.Title) }}
    <img class="project-box__list-image" src="{{ .thumbnail }}" srcset="{{ .thumbnail2 }} 2x">
    <h1 class="project-single__heading">{{ .name }}</h1>
    <h2 class="project-single__subheading">{{ .tagline }}</h2>
  </div>

  <div class="project-single__about-container">
    <div class="project-single__about-text">
      {{ $.Content }}
      <hr>
      <a class="btn btn--accent" href="/projects/">Return To Projects</a>
    </div>
  </div>

  {{ end }}
  {{ end }}


</div>

{{ partial "modules/footer-dev" }}
