<!-- Page for a single web post in the posts/ dir -->

<!-- Include head tag manually -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>{{ .Title }}</title>
</head>

{{ partial "modules/header-dev" . }}

<div class="project__container">
  <div class="project__hero">
    <div class="project__left">
      <img class="project__logo" src="{{ .Site.Data.projects.mosu.thumbnail }}" srcset="{{ .Site.Data.projects.mosu.thumbnail2 }} 2x">
      <h2 class="project__name">
        {{ .Title }}
      </h2>
      <p class="project__tagline">
        {{ .Site.Data.projects.Title.name }}
      </p>

    </div>
    
  </div>
</div>

{{ partial "modules/footer-dev" }}
