<svg
  height="144"
  viewBox="0 0 300 144"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g id="hero">
    <rect id="bg" height="144" />
    <line
      id="leftbar"
      x1="5.5"
      x2="5.5"
      y2="144"
      stroke="#222222"
      opacity="0"
      stroke-width="11"
    />
    <line
      id="rightbar"
      x1="294.5"
      x2="294.5"
      y2="144"
      stroke="#222222"
      opacity="0"
      stroke-width="11"
    />
    <line
      id="topbar"
      y1="5.5"
      x2="300"
      y2="5.5"
      stroke="black"
      opacity="0"
      stroke-width="11"
    />
    <line
      id="bottombar"
      y1="-5.5"
      x2="300"
      y2="-5.5"
      transform="matrix(-1 0 0 1 300 144)"
      stroke="black"
      stroke-width="11"
      opacity="0"
    />
  </g>
</svg>
