{{ partial "modules/header-dev" . }}


<div class="hero__container">
  <div class="hero__inner">
    <div class="hero__right">
      <div class="upper-text__wrapper">
        {{ partial "components/app-logo" . }}


        <h1 class="upper-text__header">kevin oh</h1>
        <h2 class="upper-text__subheader">> @aflashyrhetoric</h2>
      </div>

      <div class="lower-text__wrapper">
        <p class="lower-text__text">
          software engineer <br />
          <br /><br />
          ex:
          <a target="_blank" href="https://homelighthomeloans.com">homelight</a
          >, <a target="_blank" href="https://nulab.com">nulab</a>,
          <a target="_blank" href="https://adelie.co">adelie</a>
        </p>
        <!-- <p class="lower-text__text">formerly: front-end @ <a target="_blank" href="https://nulab.com">nulab</a></p> -->
      </div>
    </div>
  </div>
</div>

<div class="section__container -invisible-on-load">
  <div class="section__inner -regular">
    <div class="section__projects">
      <ul class="project-box__list">
        <!-- Iterate over all pages, for which the section is posts -->
        {{ range $el, $val := where .Site.AllPages "Section" "posts" }}
          {{ if ne
            $val.Title "posts"
          }}
            <!-- skip the first one, because it's a link to all -->
            <li class="project-box__list-post">
              <a class="inner-link" href="{{ .RelPermalink }}">
                <span class="post-heading" href="{{ .RelPermalink }}">
                  {{ .Title }}
                </span>
                <span class="post-excerpt">
                  <!-- Will use 'summary' if defined in the front matter, otherwise
            will generate a 70 word summary -->
                  {{ $val.Summary }}
                </span>
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>
<div class="section__container">
  <div class="section__inner -thin">
    <div class="section__projects">
      <h2 style="text-align: center;">projects</h2>
      <ul class="project-box__list -projects">
        {{ range .Site.Data.projects }}
          {{ if not .archived }}
            <li class="project-box__list-item">
              <a target="_blank" href="/projects/{{ .filename }} ">
                <img
                  class="project-box__list-image"
                  src="{{ .thumbnail }}"
                  srcset="{{ .thumbnail2 }} 2x"
                />
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>
