<div class="hero__container">
  <div class="hero__inner">
    <div class="hero__right">
      <div class="upper-text__wrapper">
        <svg
          height="144"
          viewBox="0 0 300 144"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="hero">
            <rect id="bg" height="144" />
            <line
              id="leftbar"
              x1="5.5"
              x2="5.5"
              y2="144"
              stroke="#222222"
              opacity="0"
              stroke-width="11"
            />
            <line
              id="rightbar"
              x1="294.5"
              x2="294.5"
              y2="144"
              stroke="#222222"
              opacity="0"
              stroke-width="11"
            />
            <line
              id="topbar"
              y1="5.5"
              x2="300"
              y2="5.5"
              stroke="black"
              opacity="0"
              stroke-width="11"
            />
            <line
              id="bottombar"
              y1="-5.5"
              x2="300"
              y2="-5.5"
              transform="matrix(-1 0 0 1 300 144)"
              stroke="black"
              stroke-width="11"
              opacity="0"
            />
          </g>
        </svg>

        <h1 class="upper-text__header">kevin oh</h1>
        <h2 class="upper-text__subheader">> @aflashyrhetoric</h2>
      </div>

      <div class="lower-text__wrapper">
        <p class="lower-text__text">
          front-end @
          <a
            style="display: inline;"
            target="_blank"
            href="https://www.homelight.com"
            >homelight</a
          >
          <a
            style="display: inline;"
            target="_blank"
            href="https://homelighthomeloans.com"
            >/ hlhl</a
          >
        </p>
        <p class="lower-text__text">
          ex:
          <a target="_blank" href="https://nulab.com">nulab</a>,
          <a target="_blank" href="https://adelie.co">adelie</a>
        </p>
        <!-- <p class="lower-text__text">formerly: front-end @ <a target="_blank" href="https://nulab.com">nulab</a></p> -->
      </div>
    </div>
  </div>
</div>

{{ partial "modules/header-dev" . }}

<div class="section__container -invisible-on-load">
  <div class="section__inner -regular">
    <div class="section__projects">
      <ul class="project-box__list">
        <!-- Iterate over all pages, for which the section is posts -->
        {{ range $el, $val := where .Site.AllPages "Section" "posts" }} {{ if ne
        $val.Title "posts" }}

        <!-- skip the first one, because it's a link to all -->
        <li class="project-box__list-post">
          <a href="{{ .RelPermalink }}">
            {{ .Title }}
          </a>
          <span>
            <!-- Will use 'summary' if defined in the front matter, otherwise
            will generate a 70 word summary -->
            {{ $val.Summary }}
          </span>
        </li>
        {{ end }} {{ end }}
      </ul>
    </div>
  </div>
</div>
<div class="section__container">
  <div class="section__inner -regular">
    {{/*
    <div class="section__label -project-box">
      <h2 class="section__label-text">projects</h2>
    </div>
    */}}

    <div class="section__projects">
      <ul class="project-box__list -projects">
        {{ range .Site.Data.projects }}
        <li class="project-box__list-item">
          <a target="_blank" href="/projects/{{ .filename }} ">
            <img
              class="project-box__list-image"
              src="{{ .thumbnail }}"
              srcset="{{ .thumbnail2 }} 2x"
            />
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
